.footer {
    background-color: #1769aa;
    border-radius: 360px 360px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 2.75rem;
    min-height: 60px;
    width: 30%;
    bottom: 0;
    position: absolute;
}

.footer-link1 {
    text-align: right;
}

.footer-link2 {
    text-align: center;
}

.footer-link3 {
    text-align: left;
}

.footer-texto {
    color: white;
}

.margem-cima {
    margin-top: 20px;
}